*{
    margin: 0;
    padding: 0;
    
}
.header{
    width: 500px;
    height: 500px;
    background-color: chocolate;
   padding: 30px;
   color: aliceblue;
   border-radius: 0px 70px 0px 70px;
   margin: 100px;

}
.btn:hover{
    color: white;
    background-color: coral;
    border-radius: 25px;
   
}
.btn{
    margin-top: 10px;
}